
link(href="assets/css/font-awesome.min.css", rel="stylesheet", type="text/css")
section#sidebar
				i#toggle.icon-align-justify.icon-large
				ul#dock
					li.active.launcher
						i.fa.fa-home
						a(href="/home") ínicio
					li.launcher
						i.fa.fa-desktop
						a(href="/labs") Laboratórios
					li.launcher
						i.fa.fa-server
						a(href="/switch") Switch					
					li.launcher
						i.fa.fa-gear
						a(href="/config") Configurações					
				#beaker(data-toggle="tooltip", title="GPRS 2017")