#navbar.navbar.navbar-default
			a.navbar-brand(href="#")
				img(src="")
				|         IFMT_SNMP
			ul.nav.navbar-nav.pull-right
							
				
				li.dropdown.user
					a.dropdown-toggle(data-toggle="dropdown", href="#")
						i.fa.fa-user
						strong _admin
						b.caret
					ul.dropdown-menu
						li
							a(href="#") Edit Profile
						li.divider
						li
							a(href="/") Sign out